@model DepartmentVM

<form method="post" asp-action="Delete">
    @Html.AntiForgeryToken()
    <input asp-for="Id" type="hidden" />

    <h4>@SharedLocalizer["AreYouSureYouWantToDeleteThisDepartment"]</h4>
        <hr />
        <button type="submit" class="btn btn-danger" style="width:150px">@SharedLocalizer["Delete"]</button>
        <a asp-controller="Department" asp-action="Index" class="btn btn-secondary" style="width:150px">@SharedLocalizer["Cancel"]</a>
</form>

<partial name="_ValidationScriptsPartial" />
